@import 'colors';
nav{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: $secondarydark;
    h1{
        color: $primarydark ;

    }
    div{
        display: flex;
        align-items: center;
        a{
            color: $primarydark;
            font-weight: 500;
            margin: 0 5px;
        
        }
        p{
            width: 13px;
            height: 13px;
            font-size: 10px;
            position: absolute;
            background-color: $tertiary;
            border-radius: 50%;
           display: grid;
           place-items: center;
           transform: translate(-80%,-80%);
           right:15px;
        }
        
    }

}